{% extends "base.html" %}
{% block content %}

<!-- Start of About Us Section -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>About Us</h2>
                <p>
                    Welcome to shoes Kingdom, your number one source for all Trainers. We're dedicated to giving you the very best information about the new and old trainers, with a focus on Information, best prices and originality
Founded in 2022 by Diego Hernandez, Shoes Kingdom has come a long way from its beginnings in a Oxford street, London. When Diego Hernandez first started out, his passion for to understand the quality and have a place where to get all the information drove him to Open this blog, and gave him the impetus to turn hard work and inspiration into to a booming online blog. We now serve customers all over the word.
                    <br><br>
                    Sincerely,
                    Diego Hernandez.
                    <br><br>
                    For more features<a class="link" href="{% url 'account_signup' %}">sign up</a> Here!
                </p>
            </div>
        </div>
    </div>  
</section>
<!-- End of About Us Section -->
{% endblock %}