{% extends "base.html" %}
{% block content %}
<!-- Start of Parallax Image -->
<div class="parallax">
    <img src="" alt="About Us Parallax Image">
</div>
<!-- End of Parallax Image -->
<!-- Start of About Us Section -->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>About Us</h2>
                <p>
                    shoe
                    <br><br>
                   shoe
                    <br><br>
                    shoe <a class="link" href="{% url 'account_signup' %}">sign up</a> shoe
                </p>
            </div>
        </div>
    </div>  
</section>
<!-- End of About Us Section -->
{% endblock %}