{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Start of Parallax Image -->
<div class="parallax">
    <img src="https://res.cloudinary.com/meldissa/image/upload/v1639772168/photo-1547043184-599cd7e6acb9_u9ccd5.jpg" alt="Contact Us Parallax Image">
</div>
<!-- End of Parallax Image -->
<!-- Start of Success Message -->
<section id="contact-success">
    <div class="container">
        <div class="row">
            <!-- Confirmation Message to User -->
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>Thank you for your message!</h2>
                <p>
                    Your contact information and message was successfully submitted. Our team will get back to you promptly.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End of Success Message -->
{% endblock %}